# Application Configuration
NODE_ENV=sample
PORT=3000

# INFRA Configuration
GRAFANA_PORT=9200

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=example_user
DB_PASSWORD=example_password
DB_NAME=identity

